html {
    box-sizing: border-box;
  }
  
  *, ::before, ::after {
    box-sizing: inherit;
  }

  :root{
 --color: #af5de2;

  }
  
body {
    font-family: Kumbh sans;
    font-size: 20px;
}  

.header__logo--small {
  font-size: 0.5em;
  max-width: 100%;
}

.header {
  display: flex;
  justify-content:space-between;
  align-items: flex-start;
 
}

.menu__tabs {
  list-style: none;
  display: flex;
  justify-items: flex-end;
  column-gap: 5%;
  margin: 0;
  padding: 0;
  font-size: 15px;
}

.menu__item {
  text-decoration: none;
  text-align: center;
}
hr{
  color:plum;
  margin: 0;
}

.hero {
  width: 100%;
  background:url(images/pivecko.png);
  background-size: cover;
  height: 100vh;
  margin: 0;
  opacity: 90%;

}
.hero__text{
  padding-top: 400px;
  transform: translate(-50% -50%);
  text-align: center;
  color: var(--color);
  font-size: 20px;
  margin: 0 auto;;
}
.hero__text--h1 {
  font-size: 40px;
  text-transform: uppercase;
  color:var(--color);
}

.main {
  margin: 0 auto;
}
.art-of-Beer {
color:var(--color);
display: flex;
justify-content: center;
}

.art-of-Beer__item{
font-size: 10px;
}
 
.actual{
  text-align: center;
  font-size: 30px;
  color: var(--color);
}
.actual__text{
  font-size: 10px;
}
.blog {
  display: flex;
  justify-content: center;
}

.blog__images {
  max-width: 100%;
}
.blog__date {
  text-transform: uppercase;
  color: gray;
  font-size: 10px;
}

.blog__title {
  font-size: 15px;
}
.blog__text {
  font-size: 12px;
}
.news {
  margin: 0 auto;
}

.button {
  background-color: red;
  border-radius: 20px;
  color: white;
  padding: 5px 20px;
  border:1px solid red;
}
.icons{
display: flex;
justify-content: center;
column-gap: 5px;
margin-top: 100px;
margin-bottom: 20px;
}


.menu__down {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  margin-bottom: 30px;
}

.menu__down--link{
  list-style: none;
  text-decoration: none;
  font-size: 10px;
}

.footer {
  display: flex;
  justify-content: space-around;
  font-size: 12px;
  column-gap: 5%;
  padding: 10px;
}