html {
    box-sizing: border-box;
  }
  
  *, ::before, ::after {
    box-sizing: inherit;
  }

  :root{
 --color: #af5de2;

  }
  
body {
    font-family: Kumbh sans;
    font-size: 20px;
    margin: 0;

}  

.header__logo--small {
  font-size: 0.5em;
  margin:5px;
}

/*.header {
  display: flex;
  justify-content:space-between;
  align-items: flex-start;
  margin: 0px;
 
}*/

.menu__checkbox {
  display: none;
      }

.menu__tabs {
  display: none;
  list-style: none;
  margin: 0;
  padding: 5px;
  font-size: 20px;
  background-color: var(--color);
}

.menu__list {
  border-bottom: 2px solid whitesmoke;
}
.menu__item {
  text-decoration: none;
  padding: 0;
  display: block;
  text-align: center;
  color: whitesmoke;
}
.menu__item:hover{
  background-color: rgb(247, 189, 247);
}

.menu__checkbox:checked ~ .menu__tabs {
  display:block;
}
.menu__toggler{
  cursor: pointer;
  color: var(--color);
}
hr{
  color:plum;
  margin: 0;
}

.hero {
  max-width: 100%;
  background:url(images/pivecko.png);
  background-size: cover;
  height: 100vh;
  opacity: 90%;

}
.hero__text{
  padding: 5% 10% 25% 10%;
  transform: translate(-50% -50%);
  text-align: center;
  color: var(--color);
  font-size: 15px;
  margin: 0 auto;
  

}
.hero__text--h1 {
  font-size: 40px;
  text-transform: uppercase;
  color:var(--color);
  padding-bottom: -300px;
}

.main {
  position: relative;
  top : -50px;
  margin: 0 20% 5% 20%;
  background-color: azure;
  max-width: 100%;
  }
  

.art-of-beer__text,fa-solid fa-beer-mug-empty {
  text-align: center;
  font-size: 10px;
  padding: 20%;
  margin-left: 15%;
}
.news {
  margin: 0 auto;
}
.actual{
  text-align: center;
  font-size: 30px;
  color: var(--color);
}
.actual__text{
  font-size: 10px;
}

.blog__item {
  text-align: center;
  margin: 0 auto;
}

.blog__images {
  max-width: 100%;
  height: 4em;

}
.blog__date {
  text-transform: uppercase;
  color: gray;
  font-size: 6px;
}

.blog__title {
  font-size: 15px;
}
.blog__text {
  font-size: 12px;
}


.button {
  background-color: red;
  border-radius: 20px;
  color: white;
  padding: 10px 30px;
  border:1px solid red;
  margin: 5% 20% 5% 25%;

}

.icons{
display: flex;
justify-content: center;
column-gap: 5px;
margin-top: 100px;
margin-bottom: 20px;
}


.menu__down {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  margin: 10%;
 
}

.menu__down--link{
  list-style: none;
  text-decoration: none;
  font-size: 10px;
  flex-basis: 7%;
  column-gap: 5%;
  
}

.footer {
  display: flex;
  justify-content: space-around;
  font-size: 12px;
  column-gap: 5%;
  padding: 10px;
}

/******600px**********/

@media screen and (min-width: 600px) {
  .header {
    display: flex;
    justify-content:space-between;
    align-items: flex-start;
    margin: 0px;
  }
 .menu__tabs {
  display: flex;
  justify-items: space-between;
  align-items: center;
  column-gap: 5%;
  background-color: white;
 }
 .menu__item {
   color:var(--color);
 }
 .menu__toggler{
   display:none;
 }
 .menu__item:hover{
  color: blueviolet;
  background-color: white;
}

 .menu__list {
   border-bottom: 0;
 }
 
  .art-of-Beer {
  color:var(--color);
  display: flex;
  justify-content: center;
      }
      
  .art-of-Beer__item{
  font-size: 10px;
  flex:0 0 10%;
      }

.blog {
  display: flex;
  justify-content: center;
}
.blog__item {
  flex:0 0 25%;
  padding:10px;
}
.button {
  margin: 0 42%;
  text-align: center;
}

.menu__down--link{
  font-size: 15px;
}